/* Lite basic styles */

body {
	background: #dddddd;
	width: 800px;
	position: relative;
	margin: 0 auto;
	padding: 0;
}

ul {
	padding: 0;
	margin: 0;
}

li {
	padding: 0;
	margin: 0;
	list-style: none;
}

li ul li {
	padding-left: 40px;
}

.warning {
	position: absolute;
	top: 20px;
	width: 400px;
	left: 50%;
	margin: 0;
	margin-left: -200px;
	
	background: #fff;
	border: #f00 solid 4px;
}

.page {
	position: absolute;
	width: 750px;
	height: 550px;
	overflow: hidden;
	display: block;
	margin: 70px auto;
	
	list-style: none;
}

.dev .page {
	position: relative;
	visibility: visible;
}
.dev .page .headline {
	display: block;
}
.dev .bullet {
	visibility: visible;
	opacity: 1;
}
.dev #player {
	display: none;
}
.bullet {
	list-style-position: inside;
	list-style-type: disc;
}

.no-list-style {
	list-style: none;
}

/* Sidopanelen */
aside {
	position: absolute;
	left: 50%;
	top: 70px;
	margin-left: 395px;
	z-index: 5;
	width: 220px;
}

.dev aside {
	top: 0px;
}

/* Snabbvalsmenyn */
#quicknav {
	
	padding: 10px;

	max-height: 600px;
	overflow-y: auto;
	overflow-x: hidden;
	
	border: 5px solid #000;
	list-style: none;
	-webkit-box-shadow: 10px 10px 6px rgba(0,0,0,0.6);
	-moz-box-shadow: 10px 10px 6px rgba(0,0,0,0.6);
	box-shadow: 10px 10px 6px rgba(0,0,0,0.6);
	background: #dfdfdf;
}

#quicknav li {
	padding: 2px 0;
}

/* Mediaspelaren */
#player {
	position: relative;
	margin: 0 auto;
	padding: 5px 10px;
}
#player a {
	display: block;
	width: 32px;
	height: 32px;
	border: none;
	padding: 0;
	
	background-image: url("images/player_sprite_small.png");
	
	float: left;
	
	margin-right: 10px;
}
#player a.play {
	background-position: 0px -33px;
}
#player a.pause {
	background-position: 0px 0px;
}
#player a.stop {
	background-position: 0px -66px;
}

#player #progressbar {
	display: block;
	clear: both;
	float: left;
	width: 680px;
	padding: 0;
	margin: 0 0 0 120px;
}

@media screen and (max-height: 700px) {
	.page {
		margin: 30px auto;
	}
	aside {
		top: 30px;
	}
}
@media screen and (max-width: 1195px) {
	body {
		margin-left: 10px;;
	}
}

/* Start för keynoten */
.page {
	visibility: hidden;
}
.page .headline {
	display: none;
}
/*.page.startup {
	visibility: visible;
}*/

.bullet.timed {
	opacity: 0;
}

.page.show {
	visibility: visible;
}
.page.show .headline {
	display: block;
}

.bullet.show {
	opacity: 1;
}
.headline {
	visibility: inherit;
	list-style-type: none;
}
.startup h1 {
	position: relative;
	text-align: center;
}
.headline h2 {
	text-align: center;
}