/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
	font-family: "Lucinda Grande", Helvetica, Verdana;
	font-size: 16px;
	line-height: 1.5em;
	background: #ddd;
	color: #333;
}

.page {
	background: #f5f5f5;
	
	position: relative;
	max-width: 768px;
	height: 550px;
	overflow: hidden;
	margin: 30px auto;
	padding: 20px;
	
	border: 5px solid #333;
	
	-webkit-box-shadow: 10px 10px 6px rgba(0,0,0,0.6), -10px 10px 2px rgba(0,0,0,0.05);
	-moz-box-shadow: 10px 10px 6px rgba(0,0,0,0.6), -10px 10px 2px rgba(0,0,0,0.05);
	box-shadow: 10px 10px 6px rgba(0,0,0,0.6), -10px 10px 2px rgba(0,0,0,0.05);
}

h1, h2, h3 {
	display: block;
	text-align: center;
	font-weight: bold;
}

h1 {font-size: 4em; line-height: 1em;margin-top: 2.5em;}

hgroup h2 {font-size: 2.5em; line-height: 1em; border-bottom: none;}
aside h2 {font-size: 1.5em; line-height: 1em; border-bottom: 1px solid #333;}
h2 {font-size: 3em; line-height: 2em; border-bottom: 1px solid #333;}

h3 {font-size: 1.5em; line-height: 1em;}

#keynote ul {
	margin: 2em 0 0 0;
}

#keynote li {
	-webkit-transition: opacity 1s linear;
	-moz-transition: opacity 1s linear;
	-o-transition: opacity 1s linear;
	transition: opacity 1s linear;
	
	list-style-position: outside;
	list-style-type: disc;
	margin-left: 1em;
	
	font-size: 2em;
	line-height: 1.5em;
}

#keynote li ul {
	margin: 0 0 0 -1.5em;
	padding-left: 1.5em;
}

#keynote li ul li {
	font-size: 1em;
	list-style-type: square;
}

img.right {float: right;}

a {color: #333; text-decoration: underline;}
a:hover {color: #f00;}

/* Sidopanelen */
aside {
	position: absolute;
	left: 50%;
	top: 30px;
	margin-left: 404px;
	z-index: 5;
	width: 220px;
}

/* Snabbvalsmenyn */
#quicknav {
	
	padding: 10px;

	max-height: 600px;
	overflow-y: auto;
	overflow-x: hidden;
	
	border: 5px solid #333;
	list-style: none;
	-webkit-box-shadow: 10px 10px 6px rgba(0,0,0,0.6);
	-moz-box-shadow: 10px 10px 6px rgba(0,0,0,0.6);
	box-shadow: 10px 10px 6px rgba(0,0,0,0.6);
	background: #f5f5f5;
}

#quicknav li {
	padding: 2px 0;
	font-size: 0.75em;
	line-height: 1.5em;
}

/* Mediaspelaren */
#player {
	position: relative;
	margin: 0 auto;
	padding: 5px 10px;
}
#player a {
	display: block;
	width: 32px;
	height: 32px;
	border: none;
	padding: 0;
	
	background-image: url("images/player_sprite_small.png");
	
	float: left;
	
	margin-right: 10px;
}
#player a.play {
	background-position: 0px -33px;
}
#player a.pause {
	background-position: 0px 0px;
}
#player a.stop {
	background-position: 0px -66px;
}
#player a.repeat {
	background-position: 0px -99px;
}

#player #progressbar {
	display: block;
	clear: both;
	float: left;
	width: 680px;
	padding: 0;
	margin: 0 0 0 120px;
}

#keynote li.smalltext {
	font-size: 1em;
	line-height: 1.5em;
	margin-left: 1.5em;
	padding-left: 0.5em;
}