body {
	font-size: 12pt;
	line-height: 1.5em;
}

.page {
	position: relative;
	display: block;
	opacity: 1;
	
	border-bottom: 2px solid #000;
	
	width: 70%;
	margin: 0 auto;
}

.bullet.timed {
	opacity: 1;
	display: block;
	visibility: visible;
}

aside.sidebar {
	display: none;
}

h1 {font-size: 24pt;}
h2 {font-size: 18pt;}

ul {padding-left: 0;}
li {padding-left: 10px;margin-left: 20px;clear: both;}
li.headline {
	list-style: none;
	padding: 0;
	margin: 0;
}