/*!
 * WebbNote
 * 
 * @version 0.1.6-wip
 * @repository https://github.com/mrhenko/WebbNote
 */

/*------------------------------------*\
	$RESET
\*------------------------------------*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}




/*------------------------------------*\
	$BASE
\*------------------------------------*/
html {
	background: #ddd;
	color: #333;
}

body {
	font-family: "Lucinda Grande", Helvetica, Verdana;
	font-size: 16px;
	line-height: 1.5em;
}

a {
	color: #333;
	text-decoration: underline;
}





/*------------------------------------*\
	$SPECIFIC
\*------------------------------------*/
.page {
	position: relative;
	overflow: hidden;	
}

.js .page {
	display: none;
}

.dev .page {
	display: block;
}

.page.warning {
	border: #f00 solid 4px;
	display: block;
}

.page.warning h1 {
	margin: 1em 0 0.5em 0;
}

#keynote li.timed {
	opacity: 0;
}

#keynote li.timed.show {
	opacity: 1;
}

.page.show {
	display: block;
}

.dev #player {
	display: none;
}





/*------------------------------------*\
	$HELPERS
\*------------------------------------*/
.left {
	float: left;
}

.right {
	float: right;
}

.center {
	margin-left: auto;
	margin-right: auto;
}

.text-left {
	text-align: left;
}

.text-right {
	text-align: right;
}

.text-center {
	text-align: center;
}

.cover {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
}

.inline {
	display: inline;
}

ul.inline {
	margin: 0;
	padding: 0;
}

ul.inline li {
	display: inline;
}

.hide-text {
	overflow: hidden;
	text-indent: 100%;
	white-space: nowrap;
}

.clearfix {
	*zoom: 1;
}

.clearfix:after {
	clear: both;
}

.clearfix:before,
.clearfix:after {
	content: '';
	display: table;
}