/*!
 * Theme: Default
 * @author Henrik Karlsson
 * @package WebbNote
 */

body {
	background: #ddd;
	color: #333;
	font-family: "Lucinda Grande", Helvetica, Verdana;
	font-size: 16px;
	line-height: 1.5em;
}

.page {
	height: 550px;
	max-width: 768px;
	position: relative;
	overflow: hidden;
	margin: 30px auto;
	padding: 20px;
	background: #f5f5f5;
	border: 5px solid #333;
	
	-webkit-box-shadow: 10px 10px 6px rgba(0,0,0,0.6), -10px 10px 2px rgba(0,0,0,0.05);
	-moz-box-shadow: 10px 10px 6px rgba(0,0,0,0.6), -10px 10px 2px rgba(0,0,0,0.05);
	box-shadow: 10px 10px 6px rgba(0,0,0,0.6), -10px 10px 2px rgba(0,0,0,0.05);
}

h1,
h2,
h3 {
	display: block;
	text-align: center;
	font-weight: bold;
}

h1 {
	margin-top: 2.5em;
	font-size: 4em;
	line-height: 1em;
}

h2 {
	border-bottom: 1px solid #333;
	font-size: 3em;
	line-height: 2em;
}

h3 {
	font-size: 1.5em;
	line-height: 1em;
}

hgroup h2 {
	border-bottom: none;
	font-size: 2.5em;
	line-height: 1em;
}

aside h2 {
	font-size: 1.5em;
	line-height: 1em;
}

#keynote ul {
	margin: 2em 0 0 0;
}

#keynote li {
	margin-left: 1em;
	list-style-position: outside;
	list-style-type: disc;
	font-size: 2em;
	line-height: 1.5em;
	
	-webkit-transition: opacity 1s linear;
	-moz-transition: opacity 1s linear;
	-o-transition: opacity 1s linear;
	transition: opacity 1s linear;
}

#keynote li ul {
	margin: 0 0 0 -1.5em;
	padding-left: 1.5em;
}

#keynote li ul li {
	list-style-type: square;
	font-size: 1em;
}

img.right {
	float: right;
}

a {
	color: #333;
	text-decoration: underline;
}

a:hover {
	color: #f00;
}

/* The side panel */
aside {
	width: 220px;
	position: absolute;
	top: 30px;
	left: 50%;
	z-index: 5;
	margin-left: 404px;
}

/* Quick navigation menu */
#quicknav {
	max-height: 600px;
	overflow-y: auto;
	overflow-x: hidden;
	padding: 10px;
	background: #f5f5f5;
	border: 5px solid #333;
	list-style: none;
	
	-webkit-box-shadow: 10px 10px 6px rgba(0,0,0,0.6);
	-moz-box-shadow: 10px 10px 6px rgba(0,0,0,0.6);
	box-shadow: 10px 10px 6px rgba(0,0,0,0.6);
}

#quicknav li {
	padding: 2px 0;
	font-size: 0.75em;
	line-height: 1.5em;
}

/* Media player */
#player {
	position: relative;
	margin: 0 auto;
	padding: 5px 10px;
}

#player a {
	width: 32px;
	height: 32px;
	display: block;
	float: left;
	margin-right: 10px;
	padding: 0;
	border: none;
	background-image: url("../img/player_sprite_small.png");
}

#player a.play { background-position: 0px -33px; }
#player a.pause { background-position: 0px 0px; }
#player a.stop { background-position: 0px -66px; }
#player a.repeat { background-position: 0px -99px; }

#player #progressbar {
	width: 680px;
	display: block;
	clear: both;
	float: left;
	margin: 0 0 0 120px;
	padding: 0;
}

#keynote > section.page > ul > li.smalltext {
	font-size: 1.3em;
}

#keynote ul li ul li.smalltext {
	margin-left: 1.5em;
	padding-left: 0.5em;
	font-size: 0.7em;
	line-height: 1.3em;
}

.preview {
	max-width: 768px;
	position: relative;
	margin: 5px auto;
	padding: 5px;
}